<h2 class="sub-heading">Contact</h2>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Select the Groups to be Contacted</h3></div>
    <div class="panel-body">
        <h4>Categories</h4>
        {{#each cat in categoriesUnselected}}
            <button {{action 'selectCategory' cat}}>{{cat.name}}</button>
        {{/each}}

        <h4>Teams</h4>
        {{#each team in teamsUnselected}}
            {{#if team.is_team_serving}}
                {{#if team.Access}}
                    <button {{action 'selectTeam' team}}>{{ team.Name }}</button>
                {{else}}
                    <label class="label label-default">{{team.Name}}</label>
                {{/if}}
            {{/if}}
        {{/each}}
        <hr />
        <h4>Core Teams</h4>
        {{#each team in teamsUnselected}}
            {{#if team.is_core_team}}
                {{#if team.Access}}
                    <button {{action 'selectTeam' team}}>{{ team.Name }}</button>
                {{else}}
                    <label class="label label-default">{{team.Name}}</label>
                {{/if}}
            {{/if}}
        {{/each}}
        <hr />
        <h4>Small Groups</h4>
         {{#each sg in model.small_groups}}
             {{#if sg.Leader}}
                <button {{action 'selectSmallGroup' sg}}>{{ sg.Name }}</button>
             {{else}}
                 <label class="label label-default">{{sg.Name}}</label>
             {{/if}}
        {{/each}}

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{#if inProgress}}<img src="/static/images/ajax-loader.gif" /> {{/if}}Email People</h3>
    </div>
    <div class="panel-body">
        <div>
            {{#each category in categoriesSelected}}
            <button {{action 'deselectCategories' category}} class="btn btn-primary">{{ category.name }} <span class="glyphicon glyphicon-remove-circle"></span></button>
            {{/each}}
            {{#each team in teamsSelected}}
            <button {{action 'deselectTeam' team}} class="btn btn-primary">{{ team.Name }} <span class="glyphicon glyphicon-remove-circle"></span></button>
            {{/each}}
            {{#each sg in smallGroupsSelected}}
            <button {{action 'deselectSmallGroup' sg}} class="btn btn-primary">{{ sg.Name }} <span class="glyphicon glyphicon-remove-circle"></span></button>
            {{/each}}
        </div>
        <p>Email addresses of the people in the selected groups. Copy and paste the list into the 'BCC' field of your Email program.</p>
        <code>
            {{emailList members}}
        </code>
    </div>
</div>
