<h2 class="sub-heading">Registration: {{ model.Name }}</h2>
<h3>{{model.Type__c}}</h3>

{{#if loading}}
<div class="container">
    <label class="spinner">&nbsp;</label>
</div>
{{/if}}

<div class="col-xs-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Search</h3></div>
        <div class="panel-body">

            <table class="layout">
                <tr>
                    <td class="layout-label">Date of Event</td>
                    <td>{{view App.CalendarDatePicker name=registration_date value=registration_date class="form-control" placeholder="registration_date" readonly="true" title="Click to enter the date"}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Search</td>
                    <td class="layout-filter">
                        <form role="form" {{action 'findPeople' on="submit"}}>
                        {{input text="search" value=find_name placeholder="find child name or family tag" class="form-control"}}
                        </form>
                    </td>
                </tr>
            </table>

            {{#if searchResults}}
            <div class="table-responsive">
                <table class="results">
                    <tr>
                        <th class="small"></th><th>Name</th><th></th><th>Group</th><th class="cell-center">Tag</th><th class="cell-center">Family Tag</th><th>Parents</th>
                    </tr>

                    {{#each r in searchResults}}
                        <tr>
                            <td class="small"><button class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></button></td>
                            <td>{{r.Name}}</td>
                            <td><button {{action 'signInNew' r}} class="btn-link">SIGN IN</button></td>
                            <td>{{r.Kids_Group__c}}</td>
                            <td class="cell-center">{{r.Child_Tag_Number__c}}</td>
                            <td class="cell-center">{{r.Family_Tag__c}}</td>
                            <td>{{r.Parent_Name__c}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Primary ({{totalPrimary}})</h3></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="results">
                    <tr>
                        <th class="small"></th><th>Name</th><th></th><th class="cell-center">Tag</th><th class="cell-center">Family Tag</th><th></th>
                    </tr>
                    {{#each r in model.registrations}}
                        {{#if r.isPrimary}}
                            <tr {{r.SignedOut}}>
                                <td class="small"><button class="btn btn-default" {{action 'showPerson' r}}><span class="glyphicon glyphicon-info-sign"></span></button></td>
                                <td>{{r.Name}}</td>
                                <td>
                                    {{#if r.SignedOut}}
                                        <button {{action 'signIn' r}} class="signed-out btn-link">SIGNED OUT</button>
                                    {{else}}
                                        <button {{action 'signOut' r}} class="btn-link">SIGN OUT</button>
                                    {{/if}}
                                </td>
                                <td class="cell-center">{{r.ChildTag}}</td>
                                <td class="cell-center">{{r.FamilyTag}}</td>
                                <td>
                                    {{#if r.SignedOut}}
                                        <button {{action 'remove' r}} class="signed-out btn-link">REMOVE FROM THIS EVENT</button>
                                    {{else}}
                                        <button {{action 'remove' r}} class="btn-link">REMOVE FROM THIS EVENT</button>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Pre school ({{totalPreschool}})</h3></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="results">
                    <tr>
                        <th class="small"></th><th>Name</th><th></th><th class="cell-center">Tag</th><th class="cell-center">Family Tag</th><th></th>
                    </tr>
                    {{#each r in model.registrations}}
                        {{#if r.isPreschool}}
                            <tr {{r.SignedOut}}>
                                <td class="small"><button class="btn btn-default" {{action 'showPerson' r}}><span class="glyphicon glyphicon-info-sign"></span></button></td>
                                <td>{{r.Name}}</td>
                                <td>
                                    {{#if r.SignedOut}}
                                        <button {{action 'signIn' r}} class="signed-out btn-link">SIGNED OUT</button>
                                    {{else}}
                                        <button {{action 'signOut' r}} class="btn-link">SIGN OUT</button>
                                    {{/if}}
                                </td>
                                <td class="cell-center">{{r.ChildTag}}</td>
                                <td class="cell-center">{{r.FamilyTag}}</td>
                                <td>
                                    {{#if r.SignedOut}}
                                        <button {{action 'remove' r}} class="signed-out btn-link">REMOVE FROM THIS EVENT</button>
                                    {{else}}
                                        <button {{action 'remove' r}} class="btn-link">REMOVE FROM THIS EVENT</button>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="personInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{personInfo.Name}}</h4>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
              <table class="layout">
                    <tr>
                        <td class="layout-label">Next of Kin</td>
                        <td>{{personInfo.Next_of_Kin__c}}</td>
                        <td class="layout-label">Phone Number</td>
                        <td>{{personInfo.Next_of_Kin_Phone_Number__c}}</td>
                    </tr>
                    <tr>
                        <td class="layout-label">Family Tag</td>
                        <td>{{personInfo.Family_Tag__c}}</td>
                        <td class="layout-label"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="layout-label">Child Tag</td>
                        <td>{{personInfo.Child_Tag_Number__c}}</td>
                        <td class="layout-label">Date of Birth</td>
                        <td>{{formatDate personInfo.Birthdate}}</td>
                    </tr>
                    <tr>
                        <td class="layout-label">Group</td>
                        <td>{{personInfo.Kids_Group__c}}</td>
                        <td class="layout-label">School Year</td>
                        <td>{{personInfo.School_Year__c}}</td>
                    </tr>
                    <tr>
                        <td class="layout-label">Team</td>
                        <td>{{personInfo.Kids_Team__c}}</td>
                        <td class="layout-label"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="layout-label">Medical Info</td>
                        <td colspan="3">{{formatPicklist personInfo.Medical_Info__c}}</td>
                    </tr>
                    <tr>
                        <td class="layout-label">Medical Notes</td>
                        <td colspan="3">
                            {{formatNotes personInfo.Medical_Notes__c}}
                        </td>
                    </tr>
              </table>
          </div>
      </div>
      <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-info">Close</button>
      </div>
    </div>
  </div>
</div>
