<h2 class="sub-heading">{{model.FirstName}} {{model.LastName}}</h2>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Details</h3></div>
    <div class="panel-body">
        <div class="col-lg-6">
            <table class="layout">
                <tr>
                    <td class="layout-label">Home</td>
                    <td>{{model.Phone}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Mobile</td>
                    <td>{{model.MobilePhone}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Email</td>
                    <td>{{model.Email}}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="layout">
                <tr>
                    <td class="layout-label">Street</td>
                    <td>{{model.MailingStreet}}</td>
                </tr>
                <tr>
                    <td class="layout-label">City</td>
                    <td>{{model.MailingCity}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Postcode</td>
                    <td>{{model.MailingPostalCode}}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12"><hr /></div>
        <div class="col-lg-6">
            <table class="layout">
                <tr>
                    <td class="layout-label">Gender</td>
                    <td>{{model.Gender__c}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Marital Status</td>
                    <td>{{model.Marital_Status__c}}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="layout">
                <tr>
                    <td class="layout-label">Type</td>
                    <td>{{model.Contact_Type__c}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Territory</td>
                    <td>{{model.RecordTypeName}}</td>
                </tr>
                <tr>
                    <td class="layout-label">Partner</td>
                    <td>
                        {{#if model.Partner__c}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                        {{#if isLeader}}
                            &nbsp;<button class="btn btn-primary" {{action 'toggleCheckbox' model 'Partner__c'}}>Change</button>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="layout-label">Dept. Coordinator</td>
                    <td>
                        {{#if model.DepartmentCoordinator__c}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                        {{#if isLeader}}
                            &nbsp;<button class="btn btn-primary" {{action 'toggleCheckbox' model 'DepartmentCoordinator__c'}}>Change</button>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="layout-label">Senior Management</td>
                    <td>
                        {{#if model.SeniorManagement__c}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                        {{#if isLeader}}
                            &nbsp;<button class="btn btn-primary" {{action 'toggleCheckbox' model 'SeniorManagement__c'}}>Change</button>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="layout-label">Elder</td>
                    <td>
                        {{#if model.GovernanceElder__c}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                        {{#if isLeader}}
                            &nbsp;<button class="btn btn-primary" {{action 'toggleCheckbox' model 'GovernanceElder__c'}}>Change</button>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="layout-label">Trustee</td>
                    <td>
                        {{#if model.GovernanceTrustee__c}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                        {{#if isLeader}}
                            &nbsp;<button class="btn btn-primary" {{action 'toggleCheckbox' model 'GovernanceTrustee__c'}}>Change</button>
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Small Groups</h3></div>
    <div class="panel-body">
        <div class="col-lg-12">
            {{#each sg in model.small_groups}}
                {{#if sg.in_group}}
                    {{#if isAdmin}}
                        <button {{action 'toggleSmallGroup' sg}} class="btn btn-primary">{{ sg.group_name }}{{#if sg.leader}} <span class="badge">Leader</span>{{/if}}</button>
                    {{else}}
                        {{#if sg.leader}}
                            <button {{action 'toggleSmallGroup' sg}} class="btn btn-primary">{{ sg.group_name }}{{#if sg.leader}} <span class="badge">Leader</span>{{/if}}</button>
                        {{else}}
                            <label class="label label-success">{{ sg.group_name }} {{#if sg.leader}} <span>(Leader)</span>{{/if}}</label>
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{#if isAdmin}}
                        <button {{action 'toggleSmallGroup' sg}}>{{ sg.group_name }}</button>
                    {{else}}
                        {{#if sg.leader}}
                            <button {{action 'toggleSmallGroup' sg}}>{{ sg.group_name }}</button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Team Serving</h3></div>
    <div class="panel-body">
        <div class="col-lg-12">
            {{#each ts in model.team_serving}}
                {{#if ts.in_team}}
                    {{#if ts.access_manage}}
                        <button {{action 'toggleTeam' ts}} class="btn btn-primary">{{ ts.team_name }}</button>
                    {{else}}
                        {{#if isAdmin}}
                            <button {{action 'toggleTeam' ts}} class="btn btn-primary">{{ ts.team_name }}</button>
                        {{else}}
                            <label class="label label-primary">{{ ts.team_name }}</label>
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{#if ts.access_manage}}
                        <button {{action 'toggleTeam' ts}}>{{ ts.team_name }}</button>
                    {{else}}
                        {{#if isAdmin}}
                            <button {{action 'toggleTeam' ts}}>{{ ts.team_name }}</button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Core Teams</h3></div>
    <div class="panel-body">
        <div class="col-lg-12">
            {{#each ts in model.core_teams}}
                {{#if ts.in_team}}
                    {{#if ts.access_manage}}
                        <button {{action 'toggleCoreTeam' ts}} class="btn btn-primary">{{ ts.team_name }}</button>
                    {{else}}
                        {{#if isAdmin}}
                            <button {{action 'toggleCoreTeam' ts}} class="btn btn-primary">{{ ts.team_name }}</button>
                        {{else}}
                            <label class="label label-primary">{{ ts.team_name }}</label>
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{#if ts.access_manage}}
                        <button {{action 'toggleCoreTeam' ts}}>{{ ts.team_name }}</button>
                    {{else}}
                        {{#if isAdmin}}
                            <button {{action 'toggleCoreTeam' ts}}>{{ ts.team_name }}</button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

{{#if isAdmin}}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Team Permissions</h3></div>
    <div class="panel-body">
        <div class="col-lg-12">
            <em>Select the teams that {{model.FirstName}} is allowed to contact and/or manage. Admin users can manage all team memberships.</em>
            <h4>Teams</h4>
            {{#each ts in model.team_permissions}}
                {{#if ts.is_team_serving}}
                    {{#if ts.in_team}}
                        {{#if ts.access_manage}}
                            <button {{action 'toggleTeamPermissions' ts}} class="btn btn-primary">{{ ts.team_name }} <span class="badge">Manage</span></button>
                        {{else}}
                            <button {{action 'toggleTeamPermissions' ts}} class="btn btn-primary">{{ ts.team_name }} <span class="badge">Contact</span></button>
                        {{/if}}
                    {{else}}
                    <button {{action 'toggleTeamPermissions' ts}}>{{ ts.team_name }}</button>
                    {{/if}}
                {{/if}}
            {{/each}}
            <hr />
            <h4>Core Teams</h4>
            {{#each ts in model.team_permissions}}
                {{#if ts.is_core_team}}
                    {{#if ts.in_team}}
                        {{#if ts.access_manage}}
                            <button {{action 'toggleTeamPermissions' ts}} class="btn btn-primary">{{ ts.team_name }} <span class="badge">Manage</span></button>
                        {{else}}
                            <button {{action 'toggleTeamPermissions' ts}} class="btn btn-primary">{{ ts.team_name }} <span class="badge">Contact</span></button>
                        {{/if}}
                    {{else}}
                    <button {{action 'toggleTeamPermissions' ts}}>{{ ts.team_name }}</button>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{/if}}
